.project-heading{
    text-align: center;
    padding: 4rem 0rem 2rem 0;
    background: #1a1919;
}

.work-container{
    
    background: #1a1919;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card{
    background: #29292B;
    padding: 1.2rem 1rem;
    border-radius: 15px;
    position: relative;
}

.project-card img{
    width: 100%;
}

.project-title{
    color:#faf9f6;
    padding:1rem 0;
}

.pro-details p{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    text-align: justify;
    color: #faf9f6;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 0.5rem 0;
    position: absolute;
    bottom: 10px;
}

.pro-btns a{
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    
}


@media screen and (max-width: 740px){
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
       
}